* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none;
  scrollbar-width: none;
  height: fit-content;
  min-height: 100vh; }
  html::-webkit-scrollbar {
    display: none; }
  @media only screen and (max-width: 61.25em) {
    html {
      font-size: 50%; } }

body {
  font-family: 'Nunito Sans', sans-serif;
  width: 100%;
  height: 100%;
  font-weight: 400;
  line-height: 1.6;
  background-image: radial-gradient(#695c35, #000000);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: calc(100vh - 2 * 4vw);
  height: max-content; }

.container {
  max-width: 120rem;
  min-height: 117rem;
  margin: 4vw auto;
  background-color: #000000;
  border-radius: 9px;
  overflow: hidden;
  box-shadow: 0 2rem 6rem 0.5rem #0000006b;
  display: grid;
  grid-template-rows: 10rem minmax(100rem, auto);
  grid-template-columns: 1fr 2fr;
  grid-template-areas: 'head head' 'list recipe'; }
  @media only screen and (max-width: 78.15em) {
    .container {
      max-width: 100%;
      margin: 0;
      border-radius: 0; } }

.btn, .btn--small, .btn--small:link, .btn--small:visited {
  all: unset;
  background-color: none;
  border-radius: 10rem;
  border: 2px solid #000000;
  text-transform: uppercase;
  color: #000000;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: all 0.2s; }
  .btn:hover, .btn--small:hover {
    transform: scale(1.05); }
  .btn:focus, .btn--small:focus {
    outline: none; }
  .btn > *:first-child, .btn--small > *:first-child {
    margin-right: 1rem; }

.btn {
  padding: 1.5rem 4rem;
  font-size: 1.5rem;
  font-weight: 600; }
  .btn svg {
    height: 2.25rem;
    width: 2.25rem;
    fill: #000000; }

.btn--small, .btn--small:link, .btn--small:visited {
  font-size: 1.4rem;
  font-weight: 600;
  padding: 1.25rem 2.25rem;
  text-decoration: none; }
  .btn--small svg, .btn--small:link svg, .btn--small:visited svg {
    height: 1.75rem;
    width: 1.75rem;
    fill: #000000; }

.btn--inline {
  color: #FFFFFF;
  font-size: 1.3rem;
  font-weight: 600;
  border: 2px solid #FFFFFF;
  background-color: #000000;
  padding: 0.8rem 1.2rem;
  border-radius: 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: all 0.2s; }
  .btn--inline svg {
    height: 1.6rem;
    width: 1.6rem;
    fill: #FFFFFF;
    margin: 0 0.2rem; }
  .btn--inline span {
    margin: 0 0.4rem; }
  .btn--inline:focus {
    outline: none; }

.btn--round {
  background-color: #6E5A1C;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  height: 4.5rem;
  width: 4.5rem;
  transition: all 0.2s;
  display: flex;
  align-items: center;
  justify-content: center; }
  .btn--round:hover {
    transform: scale(1.07); }
  .btn--round:focus {
    outline: none; }
  .btn--round svg {
    height: 2.5rem;
    width: 2.5rem;
    fill: #FFFFFF; }

.btn--tiny {
  height: 2rem;
  width: 2rem;
  border: none;
  background: none;
  cursor: pointer; }
  .btn--tiny svg {
    height: 100%;
    width: 100%;
    fill: #6E5A1C;
    transition: all 0.3s; }
  .btn--tiny:focus {
    outline: none; }
  .btn--tiny:hover svg {
    transform: translateY(-1px); }
  .btn--tiny:active svg {
    transform: translateY(0); }
  .btn--tiny:not(:last-child) {
    margin-right: 0.3rem; }

.heading--2 {
  font-size: 2rem;
  font-weight: 700;
  color: #f38e82;
  text-transform: uppercase;
  margin-bottom: 2.5rem;
  text-align: center; }

.spinner {
  margin: 5rem auto;
  text-align: center; }
  .spinner svg {
    height: 6rem;
    width: 6rem;
    fill: #6E5A1C;
    animation: rotate 2s infinite linear; }

@keyframes rotate {
  0% {
    transform: rotate(0); }
  100% {
    transform: rotate(360deg); } }
.message,
.error {
  max-width: 40rem;
  margin: 0 auto;
  padding: 5rem 4rem;
  display: flex; }
  .message svg,
  .error svg {
    height: 3rem;
    width: 3rem;
    fill: #6E5A1C;
    transform: translateY(-0.3rem); }
  .message p,
  .error p {
    margin-left: 1.5rem;
    font-size: 1.8rem;
    line-height: 1.5;
    font-weight: 600; }

.bookmarks {
  background: #000000bd !important; }

.preview {
  border: 2px solid #DDDDDD;
  margin-bottom: 1rem; }
  .preview__link:link, .preview__link:visited {
    display: flex;
    align-items: center;
    padding: 1.5rem 3.25rem;
    transition: all 0.3s;
    border-right: 1px solid #FFFFFF;
    text-decoration: none; }
  .preview__link:hover {
    background-color: #000000bd; }
  .preview__link--active {
    background: linear-gradient(to right, #6E5A1C, #bba36a00); }
  .preview__fig {
    flex: 0 0 5.8rem;
    border-radius: 50%;
    overflow: hidden;
    height: 5.8rem;
    margin-right: 2rem;
    position: relative;
    backface-visibility: hidden;
    border: 2px solid #F4F4F4; }
    .preview__fig img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: all 0.3s; }
  .preview__data {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 2rem;
    row-gap: 0.1rem;
    align-items: center; }
  .preview__title {
    grid-column: 1/-1;
    font-size: 1.45rem;
    color: #DDDDDD;
    text-transform: uppercase;
    font-weight: 600;
    text-overflow: ellipsis;
    max-width: 25rem;
    white-space: nowrap;
    overflow: hidden; }
  .preview__publisher {
    font-size: 1.15rem;
    color: #6E5A1C;
    text-transform: uppercase;
    font-weight: 600; }
  .preview__user-generated {
    background-color: #eeeae8;
    background-color: #000000bd;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2rem;
    width: 2rem;
    border-radius: 10rem;
    margin-left: auto;
    margin-right: 1.75rem; }
    .preview__user-generated svg {
      height: 1.2rem;
      width: 1.2rem;
      fill: #FFFFFF; }

.search-results {
  padding: 3rem 0;
  display: flex;
  flex-direction: column; }

.results {
  list-style: none;
  margin-bottom: 2rem; }

.pagination {
  margin-top: auto;
  padding: 0 3.5rem; }
  .pagination::after {
    content: '';
    display: table;
    clear: both; }
  .pagination__btn--prev {
    float: left; }
  .pagination__btn--next {
    float: right; }

.copyright {
  color: #AFAFAF;
  font-size: 1.2rem;
  padding: 0 3.5rem;
  margin-top: 4rem; }
  .copyright a {
    color: #FFFFFF;
    text-decoration: none; }
  .copyright .twitter-link:link,
  .copyright .twitter-link:visited {
    color: #FFFFFF; }

.heading--2 {
  color: #6E5A1C; }

.recipe {
  background-color: #f9f5f3;
  background-color: #FFFFFF; }
  .recipe__fig {
    height: 32rem;
    position: relative;
    transform-origin: top; }
    .recipe__fig::before {
      content: '';
      display: block;
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-color: #ad9d2786;
      opacity: 0.6; }
  .recipe__img {
    width: 100%;
    display: block;
    height: 100%;
    object-fit: cover; }
  .recipe__title {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 20%) skewY(-6deg);
    color: #DDDDDD;
    font-weight: 700;
    font-size: 3.25rem;
    text-transform: uppercase;
    width: 50%;
    line-height: 1.95;
    text-align: center; }
    .recipe__title span {
      -webkit-box-decoration-break: clone;
      box-decoration-break: clone;
      padding: 1.3rem 2rem;
      background-color: #000000;
      border: 2px solid #808080; }
    @media only screen and (max-width: 61.25em) {
      .recipe__title {
        width: 70%; } }
  .recipe__details {
    display: flex;
    align-items: center;
    padding: 7.5rem 8rem 3.5rem 8rem; }
  .recipe__info {
    font-size: 1.65rem;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    color: #5D5D5D; }
    .recipe__info:not(:last-child) {
      margin-right: 4.5rem; }
  .recipe__info-icon {
    height: 2.35rem;
    width: 2.35rem;
    fill: #6E5A1C;
    margin-right: 1.15rem; }
  .recipe__info-data {
    margin-right: 0.5rem;
    font-weight: 700; }
  .recipe__info-buttons {
    display: flex;
    margin-left: 1.6rem;
    transform: translateY(-1px); }
  .recipe__user-generated {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
    width: 4rem;
    border-radius: 10rem;
    margin-left: auto;
    margin-right: 1.75rem; }
    .recipe__user-generated svg {
      height: 2.25rem;
      width: 2.25rem;
      fill: #897123; }
  .recipe__ingredients {
    padding: 5rem 8rem;
    font-size: 1.6rem;
    line-height: 1.4;
    background-color: #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #DDDDDD; }
  .recipe__ingredient-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2.5rem 3rem;
    list-style: none; }
  .recipe__ingredient {
    display: flex; }
  .recipe__icon {
    height: 2rem;
    width: 2rem;
    fill: #6E5A1C;
    margin-right: 1.1rem;
    flex: 0 0 auto;
    margin-top: 0.1rem; }
  .recipe__quantity {
    margin-right: 0.5rem;
    flex: 0 0 auto; }
  .recipe__directions {
    padding: 5rem 10rem;
    padding-bottom: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .recipe__directions-text {
    font-size: 1.7rem;
    text-align: center;
    margin-bottom: 3.5rem;
    color: #000000; }
  .recipe .btn--small {
    border-radius: 1.5rem; }
  .recipe__publisher {
    font-weight: 700; }

.add-recipe-window {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100rem;
  border-radius: 9px;
  padding: 5rem 6rem;
  z-index: 1000;
  transition: all 0.5s; }
  .add-recipe-window .btn--close-modal {
    font-family: inherit;
    position: absolute;
    top: -10%;
    right: 50%;
    font-size: 3.5rem;
    cursor: pointer;
    background: none;
    border: 3px solid #DDDDDD;
    border-radius: 50%;
    height: 4rem;
    width: 4rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #DDDDDD;
    box-shadow: 0.5rem 0.8rem 3rem #000000dc; }
  .add-recipe-window::before {
    position: absolute;
    content: "";
    width: 50%;
    height: 100%;
    top: 0;
    display: block;
    z-index: -1;
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;
    left: 0;
    background-color: #0B0B0B; }
  .add-recipe-window:after {
    position: absolute;
    content: "";
    width: 50%;
    height: 100%;
    top: 0;
    display: block;
    z-index: -1;
    border-top-right-radius: inherit;
    border-bottom-right-radius: inherit;
    right: 0;
    background-color: #E2E2E2; }

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff3f;
  backdrop-filter: blur(4px);
  z-index: 100;
  transition: all 0.5s; }

.hidden {
  visibility: hidden;
  opacity: 0; }

.upload {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem 6rem; }
  .upload__column {
    display: grid;
    grid-template-columns: 1fr 2.8fr;
    align-items: center;
    gap: 1.5rem; }
    .upload__column label {
      font-size: 1.5rem;
      font-weight: 600;
      color: inherit; }
    .upload__column input {
      font-size: 1.5rem;
      padding: 0.8rem 1rem;
      border-radius: 0.5rem;
      transition: all 0.2s; }
      .upload__column input::placeholder {
        color: #343434; }
      .upload__column input:focus {
        outline: none;
        border: 1px solid #f38e82; }
    .upload__column button {
      grid-column: 1 / span 2;
      justify-self: center;
      margin-top: 1rem; }
  .upload__heading {
    font-size: 2.25rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 1rem;
    grid-column: 1/-1; }
  .upload__btn {
    grid-column: 1 / -1;
    justify-self: center;
    background-color: #bba36a00;
    position: relative; }
    .upload__btn::before {
      position: absolute;
      content: "";
      width: 50%;
      height: 100%;
      top: 0;
      display: block;
      z-index: -1;
      left: 0;
      border-top-left-radius: inherit;
      border-bottom-left-radius: inherit;
      border: 2px solid #E2E2E2; }
    .upload__btn span {
      margin-left: 4rem;
      color: #000000; }
    .upload__btn svg {
      fill: #FFFFFF; }
  .upload .upload__heading {
    color: #6E5A1C;
    font-weight: 200; }
  .upload .upload__column input {
    background-color: #6E5A1C;
    border-radius: 8rem;
    padding: 0 2rem 0 2rem;
    height: 4rem;
    font-weight: 400; }
    .upload .upload__column input:focus {
      border: none; }
  .upload .upload__column label {
    color: #5C5C5C; }
  .upload .upload__column:first-of-type input {
    color: #DDDDDD; }
  .upload .upload__column:last-of-type input {
    color: #000000; }

.header {
  grid-area: head;
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .header__logo {
    margin-left: 4rem;
    height: 4.6rem;
    display: block;
    transform: scale(1.8); }

.search {
  background-color: #FFFFFF;
  border-radius: 10rem;
  display: flex;
  align-items: center;
  padding-left: 3rem;
  transition: all 0.3s;
  position: relative; }
  .search:focus-within {
    transform: translateY(-2px); }
  .search__field {
    position: absolute;
    top: 0;
    right: -50%;
    border: 1px solid #000000;
    background: none;
    font-family: inherit;
    color: inherit;
    font-size: 1.7rem;
    width: 50rem;
    height: 5rem;
    padding-left: 20%;
    border-radius: 1rem; }
    .search__field:focus {
      outline: none; }
    .search__field::placeholder {
      color: #d3c7c3; }
    @media only screen and (max-width: 61.25em) {
      .search__field {
        width: auto; }
        .search__field::placeholder {
          color: #FFFFFF; } }
  .search__btn {
    font-weight: 600;
    left: 0;
    font-family: inherit;
    height: 1.6rem;
    z-index: 2;
    transform: translateX(65%);
    border-radius: unset;
    border-radius: .8rem; }
    .search__btn:hover {
      transform: translateX(65%); }

.nav {
  align-self: stretch;
  margin-right: 2.5rem; }
  .nav__list {
    list-style: none;
    display: flex;
    height: 100%; }
  .nav__item {
    position: relative; }
  .nav__btn {
    height: 100%;
    font-family: inherit;
    color: inherit;
    font-size: 1.4rem;
    font-weight: 700;
    text-transform: uppercase;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0 1.5rem;
    transition: all 0.3s;
    display: flex;
    align-items: center; }
    .nav__btn svg {
      height: 2.4rem;
      width: 2.4rem;
      fill: #6E5A1C;
      fill: #000000;
      margin-right: 0.7rem;
      transform: translateY(-1px); }
    .nav__btn:focus {
      outline: none; }
    .nav__btn:hover {
      background-color: #6E5A1C;
      color: #FFFFFF; }
      .nav__btn:hover svg {
        fill: #FFFFFF; }

.bookmarks {
  padding: 1rem 0;
  position: absolute;
  right: -2.5rem;
  z-index: 10;
  width: 40rem;
  background-color: #000000bd;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s 0.2s; }
  .bookmarks__list {
    list-style: none; }
  .bookmarks__field {
    cursor: pointer;
    padding: 0 4rem;
    display: flex;
    align-items: center;
    height: 100%;
    transition: all 0.3s; }
  .bookmarks:hover, .nav__btn--bookmarks:hover + .bookmarks {
    visibility: visible;
    opacity: 1; }

*::selection {
  background-color: transparent; }

/*# sourceMappingURL=style.css.map */
